@font-face {
    font-family: 'Grtsk Peta';
    font-style: normal;
    font-weight: 500;
    src: url(/fonts/GrtskPeta-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Grtsk Peta';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/GrtskPeta-Bold.woff) format('woff');
}